<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="loginPage.css">
</head>
<body>
    <div class="mainContainer">
    <form>
        <label for = "emailInput"> Email: </label>
        <input type = "email" placeholder="Enter your email here" required>
        <label for = "passwordInput"> Password: </label>
        <input type = "password" placeholder = "Enter your password here" required>
    </form>
    </div>
        <div class="buttonHolder">
            <button class = "loginButton"> Login </button>
            <button class = "signUpButton"> Sign Up</button>
        </div>

        <script src = "loginPage.js" defer> </script>
</body>
</html>