<link rel = "stylesheet" href ="/css/homePage.css">
<footer>
    <ul class = "social">
        <li><a href = "https://www.instagram.com/chaffeycompsciclub/" target="_blank"><img src="../images/instagram.png" alt="Instagram"></a></li>
        <li><a href = "https://www.youtube.com/@georgetsaiii" target="_blank"><img src = "../images/youtube.png" alt ="Youtube"> </a></li>
        <li><a href = "https://www.linkedin.com/in/george-tsai-a59818287/" target="_blank"><img src = "../images/business.png" alt = "LinkedIn"></a></li>
    </ul>
    <ul class = "aboutSection">
        <li><a href = "../about/aboutUs.html">About Us</a></li>
        <li><a href = "../about/contact.html">Contact</a></li>
        <li><a href = "../about/faq.html">FAQ</a></li>
        <li><a href = "../about/tos.html">Terms</a></li>
        <li><a href = "../about/privacyPolicy.html">Privacy</a></li>
    </ul>
</footer>