<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools</title>
    <link rel = "stylesheet" href = "/css/schools.css">
    
</head>
<body>
    <h1>Select a School and Major</h1>

    <!-- Dropdown for school selection-->
    <label for="schoolSelect">Choose a school:</label>
    <select id="schoolSelect">
        <option value="">Select a School</option>
        <% schools.forEach(school => { %>
            <option value="<%= school.name %>"><%= school.name %></option>
        <% }); %>
    </select>

    <!-- Dropdown for major selection-->
    <label for="majorSelect">Choose a major:</label>
    <select id="majorSelect">
        <option value="">Select a Major</option>
    </select>
    
    <div id = "requirements"></div>
    <script src = "/js/schools.js" defer> </script>
</body>
</html>