@font-face {
    font-family: 'Inter';
    src: url(../InterVariable.ttf);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.homeHeader{
    display: flex;
    justify-content: space-around;
    background-color: #7733FF;
}

.navBar {
    background-color: #8066FF;
    padding: 10px 0;
    overflow: hidden;
    border-bottom: 4px black;
}

.navLinks{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: #8066FF;
    margin: 0;
    padding: 0;
}

.navLinks li{
    margin: 0;
    padding: 0;
}


.navLinks a{
    text-decoration: none;
    color: black;
    display: inline-block;
}

.navLinks a:hover{
    color: #CC66FF;
}
