@font-face {
    font-family: 'Inter';
    src: url(../InterVariable.ttf);
}

html, body {
    height: 100%;
    font-family: 'Inter';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.homeHeader{
    display: flex;
    justify-content: space-around;
}

.navBar{
    list-style: none;
}

.navLinks{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.navLinks a{
    text-decoration: none;
    color: black;
}

.navContainer {
    display: flex;
}

.hero{
    text-align: center;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    list-style: none;
}

.social img {
    width: 30px;
    height: 30px;
}
.social {
    display: flex;
    gap: 10px;
}
.aboutSection {
    font-family: 'Inter';
    list-style: none;
    display: flex;
    gap: 10px;
}