@font-face {
    font-family: 'Inter';
    src: url(../InterVariable.ttf);
}

html, body {
    height: 100%;
    font-family: 'Inter';
}

.homeHeader{
    display: flex;
    justify-content: space-around;
}

.navBar{
    list-style: none;
}

.navLinks{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.navLinks a{
    text-decoration: none;
    color: black;
}

.navContainer {
    display: flex;
}

.hero{
    text-align: center;
}

.social img {
    width: 30px;
    height: 30px;
}