<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel = "stylesheet" href = "/css/homePage.css">
</head>
<body>
    <%- include('../partials/header') %>
    
    <main>

        <div class="hero">
            <h1>Plan Your Transfer Journey with Ease</h1>
            <h4>Find transfer requirements and track your GPA</h4>
            <button class = "signUpButton" type="button" onclick="window.location.href='/register'"> Sign Up Here</button>
            <a href = "../transferProgress/transferProgress.html">
            <button> Track Progress</button></a>    
        </div>
        
        <section id = "how-it-works">
            <h2>How It Works</h2>
            <ol>
                <li>
                    <h3>Step 1: Sign Up</h3>
                    <p>Create an account to get started</p>
                </li>
                <li>
                    <h3>Step 2: Enter Your Classes</h3>
                    <p>Input your classes you've completed and plan on completing to track your progress</p>
                </li>
                <li>
                    <h3>Step 3: Track Your Progress</h3>
                    <p>Monitor your GPA and track how close you are to meeting transfer requirements</p>
                </li>
            </ol>
        </section>
        <div class ="keyFeatures">
            <a href = "../schoolsPage/schools.html">
                <h2>Find schools transfer requirements</h2>
            </a>
            <a href = "../transferResources/transferResources.html">
                <h2>Resources</h2>
            </a>
            <a href="../community/community.html" >
                <h2>Community</h2>
            </a>
        </div>
        <section id="testimonials">
            <h2>What Our Users Say</h2>
            <blockquote>
                <p>"CC Transfer helped guide me in the right track to get into my dream school!</p>
                <p>- Jared Sarabia, UCI Transfer Student</p>
            </blockquote>
        </section>
        <%- include("../partials/footer")%>
    </main>
   
    <script src = "/js/homePage.js" defer></script>
</body>
</html>