<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel = "stylesheet" href = "/css/homePage.css">
</head>
<body>
    <header class = "homeHeader">
    <h1> CC Transfer</h1>
    </header>
        <nav class = "navBar"> 
            <ul class = "navLinks">
                <li> <a href ="/homePage">Home</a></li>
                <li> <a href ="/schoolsPage">Find Schools</a></li>
                <li> <a href ="/transferProgress">Transfer Progress</a></li>
                <li> <a href ="/community">Community</a></li>
                <li> <a href = "/transferResources">Transfer Resources</a></li>
                <li> <a href = "/about">About</a></li>
                <li> <a href = "/loginPage">Login</a></li>
            </ul>
        </nav>
    <main>

        <div class="hero">
            <h1>Plan Your Transfer Journey with Ease</h1>
            <h4>Find transfer requirements and track your GPA</h4>
            <a href = "../loginPage/loginPage.html">
            <button>Get Started</button></a> 
            <a href = "../transferProgress/transferProgress.html">
            <button> Track Progress</button></a>    
        </div>
        
        <section id = "how-it-works">
            <h2>How It Works</h2>
            <ol>
                <li>
                    <h3>Step 1: Sign Up</h3>
                    <p>Create an account to get started</p>
                </li>
                <li>
                    <h3>Step 2: Enter Your Classes</h3>
                    <p>Input your classes you've completed and plan on completing to track your progress</p>
                </li>
                <li>
                    <h3>Step 3: Track Your Progress</h3>
                    <p>Monitor your GPA and track how close you are to meeting transfer requirements</p>
                </li>
            </ol>
        </section>
        <div class ="keyFeatures">
            <a href = "../schoolsPage/schools.html">
                <h2>Find schools transfer requirements</h2>
            </a>
            <a href = "../transferResources/transferResources.html">
                <h2>Resources</h2>
            </a>
            <a href="../community/community.html" >
                <h2>Community</h2>
            </a>
        </div>
        <section id="testimonials">
            <h2>What Our Users Say</h2>
            <blockquote>
                <p>"CC Transfer helped guide me in the right track to get into my dream school!</p>
                <p>- Jared Sarabia, UCI Transfer Student</p>
            </blockquote>
        </section>
        <footer>
            <ul class = "social">
                <li><a href = "https://www.instagram.com/chaffeycompsciclub/" target="_blank"><img src="../images/instagram.png" alt="Instagram"></a></li>
                <li><a href = "https://www.youtube.com/@georgetsaiii" target="_blank"><img src = "../images/youtube.png" alt ="Youtube"> </a></li>
                <li><a href = "https://www.linkedin.com/in/george-tsai-a59818287/" target="_blank"><img src = "../images/business.png" alt = "LinkedIn"></a></li>
            </ul>
            <ul class = "aboutSection">
                <li><a href = "../about/aboutUs.html">About Us</a></li>
                <li><a href = "../about/contact.html">Contact</a></li>
                <li><a href = "../about/faq.html">FAQ</a></li>
                <li><a href = "../about/tos.html">Terms</a></li>
                <li><a href = "../about/privacyPolicy.html">Privacy</a></li>
            </ul>
        </footer>
    </main>
   
    <script src = "/js/homePage.js" defer></script>
</body>
</html>