<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel = "stylesheet" href="/css/aboutUs.css">
</head>
<body>
    <%- include("../partials/header") %>
    <hero class = "hero">
        <h1 class = "hero-header">Helping Students Transfer with Ease </h1>
        <p class = "subheading"> Track your progress, access resources, and get personalized recommendations for your college transfer journey </p>
    </hero>
    <main>

    </main>
    
</body>
</html>