<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel = "stylesheet" href="/css/aboutUs.css">
</head>
<body>
    <%- include("../partials/header") %>
    <hero class = "hero">
        <h1 class = "hero-header">Helping Students Transfer with Ease </h1>
        <p class = "subheading"> Track your progress, access resources, and get personalized recommendations for your college transfer journey </p>
    </hero>
    <main>
        <h1 class = "ourPurpose"> Our Purpose </h1>
        <p class = "story"> CC Transfer was created to help community college students navigate their transition to universities. 
            I personally struggled with the lack of clear transfer guidance and missed my chance at UCI due to one overlooked requirement. This site exists to ensure other students don’t face the same obstacles
        </p>
        <h2 class = "features"> Transfer Made Simple</h2>
        <div class = "cardContainer">
            <div class = "card"><h3>✅ Track Your Transfer Progress</h3>
                <ul>
                    <li>Stay on top of deadlines</li>
                    <li>Keep track of required courses</li>
                    <li>Monitor your application dates</li>
                </ul>
                </div>
            <div class = "card"><h3>📚 Access Transfer Resources</h3>
                <ul>
                    <li>Find recommended courses and gpa requirements</li>
                    <li>Get university transfer checklists</li>
                    <li>Explore financial aid options</li>
                </ul>
            </div>
            <div class = "card"><h3>🎯 Get Personalized Recommendations</h3>
                <ul>
                    <li>See recommended schools</li>
                    <li>Discover courses based on your major</li>
                    <li>Ask for transfer tips from other CC Transfer students</li>
                </ul>
            </div>
        </div>
    </main>
    
</body>
</html>