<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel = "stylesheet" href="/css/aboutUs.css">
</head>
<body>
    <%- include("../partials/header") %>
    <hero class = "hero">
        <h1 class = "hero-header">Helping Students Transfer with Ease </h1>
        <p class = "subheading"> Track your progress, access resources, and get personalized recommendations for your college transfer journey </p>
    </hero>
    <main>
        <h1 class = "ourPurpose"> Our Purpose </h1>
        <p class = "story"> CC Transfer was created to help community college students navigate their transition to universities. 
            I personally struggled with the lack of clear transfer guidance and missed my chance at UCI due to one overlooked requirement. This site exists to ensure other students don’t face the same obstacles
        </p>
        <h2 class = "features"> Transfer Made Simple</h2>
    </main>
    
</body>
</html>