<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/loginPage.css">
</head>
<body>
    <%- include("../partials/header") %>    
    <div class="mainContainer">
    <form action = "/login" method="POST">
        <label for = "email"> Email: </label>
        <input type = "email" id = "email" name = "email" placeholder="Enter your email here" autocomplete="email" required>
        <label for = "password"> Password: </label>
        <input type = "password" id = "password" name = "password" placeholder = "Enter your password here" required>
    
        <div class="buttonHolder">
            <button type = "submit">Login</button>
            <button class = "signUpButton" type="button" onclick="window.location.href='/register'"> Sign Up Here</button>
        </div>
    </form>
    </div>

    
    <script src = "/js/loginPage.js" defer> </script>
</body>
</html>